<div>
  5. Один из сервисов Angular-приложения используется несколькими компонентами.
  Опишите, в каких случаях при работе приложения будет создан один экземпляр
  сервиса, а в каких несколько (что влияет на количество экземпляров сервиса)?
</div>
<hr />
<h4>Ситуации, когда создается несколько экземпляров сервиса:</h4>
<ul>
  <li>
    {{ "При подключении сервиса в компонентах с помощью @Component({providers: [SomeService]}) будет создано несколько экземпляров этого сервиса, для каждого компонента, причем результаты работы сервиса в одном компоненте не будут видны в других компонентах, состояние данных будет отличаться в зависимости от экземпляра." }}
  </li>
  <li>
    При ленивой загрузке модулей, т. к. в момент загрузки неизвестно, будут ли созданы эти модули.
  </li>
</ul>
<h4>Случаи, когда создается один экземпляр сервиса:</h4>
<ul>
  <li>
    {{ "При указании в самом сервисе @Injectable({providedIn: 'root'})." }}
  </li>
  <li>
    {{ "При регистрации сервиса в корневом модуле AppModule: @NgModule({providers: [SomeService]})." }}
  </li>
  <li>
    При регистрации сервиса в модуле, который импортируется в AppModule.
  </li>
</ul>
