<div>
  7. Представьте ситуацию: при локальном запуске Angular-приложения (в тестовом
  режиме) не работает авторизация (авторизация выполняется через REST API,
  сессии пользователей устанавливаются сервером в cookie). Сервер API
  используется тот же, что и в production среде. Сетевые проблемы исключены,
  ответы сервера также не меняются при работе с dev-приложением. В чем может
  быть причина данной проблемы (перечислите все подходящие варианты)?
</div>
<hr>
<h4>Возможные причины:</h4>
<ul>
  <li>CORS-ошибки при кросс-доменных запросах;</li>
  <li>возможно, проблемы с настройками cookies.</li>
</ul>
